<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.honger1234.dao.IUserDao">
    <!--查询用户数据-->
    <select id="getUserInfo" resultType="com.honger1234.dubboserviceapi.entity.UserEntity">
        select
            *
        from
            tb_user
    </select>
</mapper>